body {
  margin: 0;
  min-width: 960px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #0c102e;
  background-color: #f2f4f6;
  background-repeat: no-repeat;
  background-position: top center;
}
main {
  margin-left: 7%;
}
header {
  background: url(https://defaultcustomheadersdata.files.wordpress.com/2016/07/blur.jpg?resize=1440,600)
    no-repeat center;
  background-size: cover;
  background-attachment: scroll;
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.405) inset;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
  padding: 10px 1%;
  border-radius: 15px;
}
.row {
  flex-direction: row;
  padding: 1% 1%;
}
img {
  display: inline-block;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  backdrop-filter: none;
}
.page-header {
  margin: 0 0 160px;
  padding: 32px 0 32px;
}
.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}
.page-header a {
  margin-left: 56px;
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}
.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-header.svg");
}
.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-header.svg");
}
.hero-image {
  margin-bottom: 620px;
}
.hero-image .container {
  max-width: 1408px;
  text-align: center;
}
.heading {
  margin: 15px 0 16px;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 25px;
  padding-bottom: 2%;
  font-weight: 400;
}
.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}
.intro {
  margin: 0 0 120px;
}
.subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}
.user-image {
  margin: 0 0 32px;
  text-align: center;
}
.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}
.intro p {
  margin: 0 0 32px;
}
.skills-list {
  margin: 0;
  padding: 0;
}
.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}
.skill-html {
  background-image: url("img/icon-html.svg");
}
.skill-css {
  background-image: url("img/icon-css.svg");
}
.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}
.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}
.portfolio {
  margin: 0 0 120px;
}
.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}
.projects li {
  margin: 0 0 80px;
}
.project-image {
  margin: 0 0 24px;
  text-align: center;
}
.projects p {
  margin: 0 0 24px;
}
.page-footer {
  margin-left: 0 0;
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: #044b88;
  color: #ffffff;
}
.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}
.footer-email {
  padding-left: 30px;
  background-image: url("img/email-24px.svg");
  background-repeat: no-repeat;
}
.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
  background-repeat: no-repeat;
}
.social {
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  outline: none;
  font-size: 40px;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  margin: 2px;
  height: 50px;
  width: fit-content;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #111cc03f;
}
.under-footer {
  display: flex;
  justify-content: center;
  margin-top: 0 auto;
  font-size: medium;
}
.contact {
  position: fixed;
  display: flex;
  justify-content: right;
  margin: 10px 10px;
  padding: 20px 17px;
  border-radius: 30px;
  font-size: larger;
  color: #f2f4f6;
  background-color: #303354;
}